---
name: devices/energy/electricity
url: /devices/energy/electricity
controller: DevicesController
requireLogin: true
---
<div class="grid-block vertical">
  <il-status-bar class="grid-block shrink"></il-status-bar>
  <div class="grid-block vertical">
    <div class="content-wrapper">
      <div class="grid-block noscroll shrink">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <il-devices-navigation></il-devices-navigation>
          </div>
        </div>
      </div>
      <div class="grid-block shrink noscroll">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <div class="grid-block vertical noscroll">
              <div class="grid-content">
                <div class="header-bar">
                  <h1>ENERGY METERING</h1>
                </div>
                <div class="responsive-scroller">
                  <table class="text-left metering full-width simple row">
                    <thead>
                    <tr>
                      <th>Today Consumption<br>to 08:20 AM</th>
                      <th>Yesterday Consumption</th>
                      <th>Daily Consumption<br>for 7 days</th>
                      <th>Daily consumption<br>for 30 days</th>
                    <tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>
                      <span class="icon">
                        <span class="icon-gray small graph"></span>
                      </span> 18.1 kWh
                      </td>
                      <td><span class="icon"><span class="icon-gray small graph"></span></span> 18.1 kWh</td>
                      <td><span class="icon"><span class="icon-gray small graph"></span></span> 18.1 kWh</td>
                      <td><span class="icon"><span class="icon-gray small graph"></span></span> 18.1 kWh</td>
                    </tr>
                    <tr>
                      <td><span class="icon"><span class="icon-gray small dollar"></span></span> 18.1 Kč</td>
                      <td><span class="icon"><span class="icon-gray small dollar"></span></span> 18.1 Kč</td>
                      <td><span class="icon"><span class="icon-gray small dollar"></span></span> 18.1 Kč</td>
                      <td><span class="icon"><span class="icon-gray small dollar"></span></span> 18.1 Kč</td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="grid-content">
                <div class="header-bar">
                  <h2>Graph</h2>
                </div>

                <div class="grid-block">
                  <div class="grid-content large-4 small-12">
                    <div id="graph-donut"></div>
                  </div>
                  <div class="grid-content large-8 small-12">
                    <div class="responsive-scroller">
                      <table class="simple backgrounded full-width row text-center">
                        <thead>
                        <tr>
                          <th rowspan="2">Měřený bod</th>
                          <th colspan="2">Spotřeba</th>
                          <th colspan="2">Útrata</th>
                        </tr>
                        <tr>
                          <th class="text-center">dnes</th>
                          <th class="text-center">včera</th>
                          <th class="text-center">dnes</th>
                          <th class="text-center">včera</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <td class="text-left"><span class="gray indicator"></span> Fáze 1</td>
                          <td>4.9 kWh</td>
                          <td>2.1 kWh</td>
                          <td>11,28 Kč</td>
                          <td>4,82 Kč</td>
                        </tr>
                        <tr>
                          <td class="text-left"><span class="blue indicator"></span> Fáze 2</td>
                          <td>1.5 kWh</td>
                          <td>2.7 kWh</td>
                          <td>3,55 Kč</td>
                          <td>6,12 Kč</td>
                        </tr>
                        <tr>
                          <td class="text-left"><span class="yellow indicator"></span> Fáze 3</td>
                          <td>11.7 kWh</td>
                          <td>29.9 kWh</td>
                          <td>27.01 Kč</td>
                          <td>69.03 Kč</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                          <td>Celkový odběr</td>
                          <td>18.1 kWh</td>
                          <td>34.6 kWh</td>
                          <td>41,85 Kč</td>
                          <td>79,97 Kč</td>
                        </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="header-bar">
              <div class="grid-block">
                <div class="grid-content">
                  <h2>Graph</h2>
                </div>
                <div class="grid-content shrink">
                  <il-select select-fn="selectFunc" name="select-test" selected-item="{{ selectedItem }}" items='selectItems'></il-select>
                </div>
              </div>
            </div>
            <div class="responsive-scroller row" min-width="1030">
              <il-calendar month="{{calendarMonth}}" month-change-fn="calendarMonthChange" click-fn="calendarClick" active="{{ calendarActive }}"></il-calendar>
            </div>
            <div class="responsive-scroller row" min-width="1030">
              <il-line-chart unit="Wh" width="1030" height="450" data="lineData" labels="lineLabels" min="0" max="1000"></il-line-chart>
              <button ng-click="lineDataChange()">zmenit</button>
            </div>

            <div class="header-bar">
              <div class="grid-block">
                <div class="grid-content">
                  <h2>Graph</h2>
                </div>
                <div class="grid-content shrink">
                  <il-select select-fn="selectFunc" name="select-test" selected-item="{{ selectedItem }}" items='selectItems'></il-select>
                </div>
              </div>
            </div>
            <div class="responsive-scroller row" min-width="1030">
              <il-hour-chart sum="true" from="2016-11-02" to="2016-11-08" data="hourData"></il-hour-chart>
            </div>
          </div>
        </div>
      </div>
    </div>
    <il-footer></il-footer>
  </div>
</div>
{{ energy() }}
