@import "settings";
@import "foundation";
@import "include";

/** GLOBAL STYLES **/
a {
	&.hover-underline {
		position: relative;

		&::after {
			content: "";
			-webkit-transition: all .3s;
			transition: all .3s;
			max-width: 0;
			width: 100%;
			height: 1px;
			left: 50%;
			bottom: 0;
			position: absolute;
			display: block;
			-webkit-transform: translateX(-50%);
			transform: translateX(-50%);
			background-color: $anchor-font-color;
		}

		&.active, &:hover, &:focus {
			&::after {
				max-width: 100%;
			}
		}
	}
}

.row {
	margin-bottom: 1rem;
}

// COLORER BLOCKS

.blue-block, .gray-block, .transparent-block {
	padding-top: 3rem;
	padding-bottom: 3rem;

	h1, h2, h3, h4, h5, h6 {
		font-weight: 300;
	}

  h2 {
    font-size: 40px;
  }
}

.transparent-block {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

.blue-block {
	background-color: $blue-dark;
	color: #FFF;

	h1, h2, h3, h4, h5,  h6 {
		color: $yellow;
	}
}

.gray-block {
	background-color: $gray-dark;
	color: $gray-light;
}

// GENERAL

.container-width {
  min-width: $container-width;
  display: block;
}

.responsive-scroller, [responsive-scroller] {
  min-height: .01%;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;

  table {
    width: 100%;
    max-width: 100%;
  }
}

.burger {
  position: relative;
  padding-left: 2.5em;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0.25em;
    width: 2em;
    height: 0.3em;
    background: $primary-color;
    box-shadow:
      0 0.5em 0 0 $primary-color,
      0 1em 0 0 $primary-color;
  }
}

.full-height {
	height: 100%;
}

.full-width {
	width: 100%;
}

.content-wrapper {
  margin: 2rem 0 4rem 0;
}

.indicator {
	width: 1rem;
	height: 1rem;
	display: inline-block;
	margin: 0 .5rem;
  -webkit-transition: all .3s;
  transition: all .3s;
  vertical-align: middle;

  &:not(.circle) {
    border: 1px solid #000;

    &.white {
      border: 1px solid #fff;
    }
  }

	&.on, &.true, &.yellow {
		background-color: $yellow;
	}

  &.off, &.false, &.gray {
    background-color: transparent;
  }


	&.blue {
		background-color: $primary-color;
	}

	&.circle {
		border-radius: 50%;

    &.off, &.false, &.gray {
      background-color: $gray;
    }
  }

}

[ng-click] {
	cursor: pointer;
}

.header-bar {
	margin-top: 2rem;
	margin-bottom: 2rem;
	background-color: $primary-color;
	color: #FFF;
  position: relative;
  font-size: 20px;

	h1, h2, h3, h4 {
		color: inherit;
		margin: 0;
		line-height: 1;
	}

	h1, h2 {
		font-size: inherit;
    padding: 1rem 1.5rem;
	}

  h1 {
    text-transform: uppercase;
  }

  .grid-content {
    & + .grid-content {
      h1, h2 {
        padding-bottom: .5rem;
      }
    }
  }

  il-select {
    height: 100%;
    display: table;
    font-size: inherit;
    min-width: 200px;

    .selected-item {
      height: 100%;
      display: table-cell;
      vertical-align: middle;
      padding-right: 2.5rem;

      &::after {
        right: 1rem;
      }
    }

    .items {
      top: 100%;
      box-shadow: none;

      .item {
        padding-right: 2.5rem;
        padding-left: 1rem;
        text-align: right;
      }
    }
  }
}



table {

  .shrink {
    width: 1%;
    white-space: nowrap;
  }
}

//* FANCY TABLE *//
table.fancy {
  margin-bottom: 2rem;

  thead {
    tr {
      th, td {
        text-align: center;
        color: $body-font-color;
        font-size: .75em;
        font-weight: normal;
        padding: 1rem;
      }
    }
  }

  tbody {
    tr {

      td {
        position: relative;
        color: #000;
        text-align: center;
        padding: .5rem 1rem;
        border-bottom: 1px solid $primary-color;

        &:first-child::after, &:last-child::after {
          content: "";
          position: absolute;
          width: 1px;
          height: 10px;
          background-color: $primary-color;
          bottom: 0;
        }

        &:first-child::after {
          left: 0;
        }

        &:last-child::after {
          right: 0;
        }

        input {
          text-align: center;
          padding: 0;
          margin: 0;
          border-width: 0;
          height: auto;
          background: transparent;
          font-style: italic;

          &:hover, &:focus {
            border-width: 0;
            background-color: transparent;
          }

          &:disabled {
            font-style: normal;
          }
        }
      }
    }
  }
}

//* SIMPLE TABLE *//
table.simple {
	th {
		padding: 0 1rem 1rem  1rem;
	}

	td {
		padding: .5rem 1rem;
	}

	&.backgrounded {
		thead, tfoot {
			th, td {
				font-weight: bold;
				background-color: $gray;
				color: #fff;
				padding: .5rem 1rem;
				border: 1px solid #fff;

        &:first-child {
          border-left: 1px solid $gray;
        }

        &:last-child {
          border-right: 1px solid $gray;
        }
			}
		}

		tbody {
			td {
				border: 1px solid $gray;
			}
		}
	}
}

//* WEATHER INFO *//

.weather-info {
	font-size: 2.5rem;
	font-weight: 300;

	.big {
		display: inline-block;
		margin-left: 1rem;
		font-weight: 100;
		font-size: 9rem;
	}

	.icon-wrapper {
		text-align: center;
		margin-left: 2rem;
		display: inline-block;
		width: 3rem;
	}

	.info {
		padding-top: 1rem;
	}
}
