---
name: devices/roomsa/kitchen
url: /devices/roomsa/kitchen
controller: DevicesController
requireLogin: true
---
<div class="grid-block vertical">
  <il-status-bar class="grid-block shrink"></il-status-bar>
  <div class="grid-block vertical noscroll">
    <div class="content-wrapper">
      <div class="grid-block noscroll shrink">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <il-devices-navigation></il-devices-navigation>
          </div>
        </div>
      </div>
      <div class="grid-block shrink">
        <div class="grid-content">
          <div class="grid-container">
            <div class="header-bar">
              <div class="grid-block">
                <div class="grid-content">
                  <h1>Kitchen</h1>
                </div>
                <div class="grid-content text-right">
                  <h2>Inventory <il-switch checked="true" name="inventory"></il-switch></h2>
                </div>
              </div>
            </div>

            <div class="grid-block row">
              <div class="grid-content medium-6 small-12">
                <div class="il-card bulb" ng-class="{gray: !cards.light}">
                  <div class="overview">
                    <il-switch change-fn="switchChange" checked="cards.light" name="light"></il-switch>
                    <h3>Temperature</h3>
                    <div class="info">{{rangeTest}}%</div>
                    <input type="range" min=0 max=100 ng-model="rangeTest" value="0">
                  </div>
                  <div class="settings">
                    <div class="opener divider">
                      <a href="#" class="open"></a>
                      <a href="#" class="graph"></a>
                    </div>

                    <div class="content">
                      <div class="grid-block row">
                        <div class="grid-content small-4 text-left v-align align-center">
                          temperature
                        </div>
                        <div class="grid-content small-8 text-right">
                          <span class="data" id="c1"></span><span class="data">°</span>
                          <il-counter class="wide" change-fn="counterChangeFn" value="24" change-in="#c1" name="numT1"></il-counter>
                        </div>
                      </div>
                      <ul class="row button-group full-width segmented">
                        <li>
                          <input type="radio" name="utensil" value="fork" id="utensilFork" checked="">
                          <label for="utensilFork">weekly schedule</label>
                        </li>
                        <li>
                          <input type="radio" name="utensil" value="spork" id="utensilSpork">
                          <label for="utensilSpork">auto</label>
                        </li>
                        <li>
                          <input type="radio" name="utensil" value="spoon" id="utensilSpoon">
                          <label for="utensilSpoon">manual</label>
                        </li>
                        <li>
                          <input type="radio" name="utensil" value="temp" id="tempd">
                          <label for="tempd">temporary manual</label>
                        </li>
                      </ul>
                      <div class="grid-block row">
                        <div class="grid-content small-7 text-left v-align align-center">
                          citlivost funkce otevřeného okna
                        </div>
                        <div class="grid-content small-5 text-right">
                          <span class="data" id="c2"></span>
                          <il-counter value="20" change-in="#c2" name="numT2"></il-counter>
                        </div>
                      </div>
                      <div class="grid-block row">
                        <div class="grid-content small-7 text-left v-align align-center">
                          čas vypnutí otevřeného okna
                        </div>
                        <div class="grid-content small-5 text-right">
                          <span class="data" id="c3"></span><span class="data"> min.</span>
                          <il-counter value="15" change-in="#c3" name="numT3"></il-counter>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-content small-6">

              </div>
            </div>
            <div class="grid-block row">
              <div class="grid-content medium-6">
                <div class="il-card lamp " ng-class="{gray: !cards.lamp}">
                  <div class="overview">
                    <il-switch name="lamp" change-fn="switchChange" checked="cards.lamp"></il-switch>
                    <h3>RGB Lamp / Kitchen</h3>
                    <div class="info" id="color-info"></div>
                    <il-colorpicker change-in="#color-info" value="#C012D5" change-fn="colorpickerChangeFn" name="rpicker">
                  </div>
                  <div class="settings">
                    <div class="opener divider">
                      <a href="#" class="open"></a>
                      <a href="#" class="graph"></a>
                    </div>

                    <div class="content">
                      <div class="grid-block row">
                        <div class="grid-content small-4 text-left">
                          teplota
                        </div>
                        <div class="grid-content small-8 text-right">
                          <span class="data" id="c1"></span><span class="data">°</span>
                          <il-counter value="24" change-in="#c1" name="numT1"></il-counter>
                        </div>
                      </div>
                      <ul class="row button-group full-width segmented">
                        <li>
                          <input type="radio" name="utensil" value="fork" id="utensilFork" checked="">
                          <label for="utensilFork">weekly schedule</label>
                        </li>
                        <li>
                          <input type="radio" name="utensil" value="spork" id="utensilSpork">
                          <label for="utensilSpork">auto</label>
                        </li>
                        <li>
                          <input type="radio" name="utensil" value="spoon" id="utensilSpoon">
                          <label for="utensilSpoon">manual</label>
                        </li>
                        <li>
                          <input type="radio" name="utensil" value="temp" id="tempd">
                          <label for="tempd">temporary manual</label>
                        </li>
                      </ul>
                      <div class="grid-block row">
                        <div class="grid-content small-7 text-left">
                          citlivost funkce otevřeného okna
                        </div>
                        <div class="grid-content small-5 text-right">
                          <span class="data" id="c2"></span>
                          <il-counter value="20" change-in="#c2" name="numT2"></il-counter>
                        </div>
                      </div>
                      <div class="grid-block row">
                        <div class="grid-content small-7 text-left">
                          čas vypnutí otevřeného okna
                        </div>
                        <div class="grid-content small-5 text-right">
                          <span class="data" id="c3"></span><span class="data"> min.</span>
                          <il-counter value="15" change-in="#c3" name="numT3"></il-counter>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-content medium-6">
                <div class="il-card" ng-class="{gray: !cards.hall}">
                  <div class="overview">
                    <il-switch checked="cards.hall" change-fn="switchChange" name="hall"></il-switch>
                    <div class="grid-block">
                      <div class="grid-content">
                        <h3>Temperature / Hall</h3>
                        <div class="info">actual 24°</div>

                      </div>
                      <div class="grid-content text-right">
                        <span class="big" color="#f4853c">24°</span>
                      </div>
                    </div>
                    <il-scale min="18" max="24" step="2" active="24" postfix="°" color-start="#00bff2" color-end="#ed2d26"></il-scale>
                  </div>
                  <div class="settings">
                    <div class="opener divider">
                      <a href="#" class="open"></a>
                      <a href="#" class="graph"></a>
                    </div>

                    <div class="content">
                      <div class="grid-block row">
                        <div class="grid-content small-4 text-left">
                          teplota
                        </div>
                        <div class="grid-content small-8 text-right">
                          <span class="data" id="c1"></span><span class="data">°</span>
                          <il-counter value="24" change-in="#c1" name="numT1"></il-counter>
                        </div>
                      </div>
                      <ul class="row button-group full-width segmented">
                        <li>
                          <input type="radio" name="utensil" value="fork" id="utensilFork" checked="">
                          <label for="utensilFork">weekly schedule</label>
                        </li>
                        <li>
                          <input type="radio" name="utensil" value="spork" id="utensilSpork">
                          <label for="utensilSpork">auto</label>
                        </li>
                        <li>
                          <input type="radio" name="utensil" value="spoon" id="utensilSpoon">
                          <label for="utensilSpoon">manual</label>
                        </li>
                        <li>
                          <input type="radio" name="utensil" value="temp" id="tempd">
                          <label for="tempd">temporary manual</label>
                        </li>
                      </ul>
                      <div class="grid-block row">
                        <div class="grid-content small-7 text-left">
                          citlivost funkce otevřeného okna
                        </div>
                        <div class="grid-content small-5 text-right">
                          <span class="data" id="c2"></span>
                          <il-counter value="20" change-in="#c2" name="numT2"></il-counter>
                        </div>
                      </div>
                      <div class="grid-block row">
                        <div class="grid-content small-7 text-left">
                          čas vypnutí otevřeného okna
                        </div>
                        <div class="grid-content small-5 text-right">
                          <span class="data" id="c3"></span><span class="data"> min.</span>
                          <il-counter value="15" change-in="#c3" name="numT3"></il-counter>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <il-footer></il-footer>
  </div>
</div>
