---
name: entry
url: /
controller: EntryController
---
<section id="entry" class="grid-block align-center">
    <div class="grid-content shrink">
        <div class="form-container text-center">
            <img src="./assets/img/cloud-logo.png" class="logo">
            <form class="login text-left" name="loginForm" ng-show="formChooser" ng-submit="login()">
                <div class="info-field" ng-show="unsuccessfulLogin">
                  Přihlášení proběhlo neúspěšně. Zkotrolujte prosím zadané údaje.
                </div>
                <input type="text" required ng-model="loginData.username" name="username" id="login-username" class="fancy" placeholder="Username">
                <input type="password" required ng-model="loginData.password" name="password" id="login-password" class="fancy" placeholder="Password">
                <div class="grid-block">
                    <div class="grid-content v-align">
                        <a href="#" class="hover-underline align-center" ng-click="formChooser = !formChooser">Create Account</a>
                    </div>
                    <div class="grid-content text-right">
                        <button type="submit" class="button" ng-disabled="loginForm.$invalid" ng-class="{disabled: loginForm.$invalid}">Sign in</button>
                    </div>
                </div>
            </form>
            <form class="register text-left" name="registerForm" ng-hide="formChooser" ng-submit="register()">
                <input required type="text" ng-model="registerData.username" name="username" id="register-username" class="fancy" placeholder="Username">
                <input required type="password" ng-model="registerData.password" password-validation="registerData.passwordCheck" name="password" id="register-password" class="fancy" placeholder="Password">
                <span ng-show="registerForm.password.$error.pwd || registerForm.password.$error.match" class="info-field">
                    <ul>
                        <li ng-show="registerForm.password.$error.pwd">Heslo musí obsahovat alespoň 8 znaků, z toho: malé a velké písmeno, číslici a speciální symbol.</li>
                        <li ng-show="registerForm.password.$error.match">Hesla se musí shodovat.</li>
                    </ul>
                </span>
                <input required type="password" name="password-check" ng-model="registerData.passwordCheck" id="register-password-check" class="fancy " placeholder="Password">
                <input required type="email" name="email" ng-model="registerData.email" id="register-email" class="fancy" placeholder="Email">
                <label class="for-checkbox"><input required type="checkbox" name="agree" class="fancy" ng-model="registerData.agree" id="register-agree"> I agree</label>
                <div class="grid-block">
                    <div class="grid-content v-align">
                        <a href="#" class="hover-underline align-center" ng-click="formChooser = !formChooser">Login</a>
                    </div>
                    <div class="grid-content text-right">
                        <button type="submit" class="button" ng-disabled="registerForm.$invalid" ng-class="{disabled: registerForm.$invalid}">Register</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
