---
name: devices/dashboard/favourites
url: /devices/dashboard/favourites
controller: DevicesController
requireLogin: true
---

<div class="grid-block vertical">
  <il-status-bar class="grid-block shrink"></il-status-bar>
  <div class="grid-block vertical noscroll">
    <div class="content-wrapper">
      <div class="grid-block noscroll shrink">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <il-devices-navigation></il-devices-navigation>
          </div>
        </div>
      </div>
      <div class="grid-block shrink noscroll">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <div class="header-bar">
              <div class="grid-block">
                <div class="grid-content">
                  <h1>Favourites <span class="white indicator on"></span></h1>
                </div>
                <div class="grid-content text-right">
                  <h2>Dashboard: <span class="white indicator off" ui-sref="devices/dashboard"></span></h2>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <il-footer></il-footer>
  </div>
</div>
