il-calendar {

  .month-list {
    margin-bottom: 1rem;

    td {
      text-align: center
    }

    .current {
      color: $primary-color;
      font-weight: bold;
    }

    .previous {
      text-align: left;
      background: url("../img/arrow-left-gray.png") no-repeat left center;
      cursor: pointer;
      padding-left: 1rem;
    }

    .next {
      text-align: right;
      background: url("../img/arrow-right-gray.png") no-repeat right center;
      cursor: pointer;
      padding-right: 1rem;
    }
  }

  table {
    table-layout: fixed;

    tr {
      th, td {
        text-align: center;
        padding-bottom: .5rem;
      }
    }

    thead {
      tr {
        th, td {
          font-weight: normal;
        }
      }
    }

    tbody {
      tr {

        td {
          padding: .125rem;

          .day {
            display: inline-block;
            text-align: center;
            width: 30px;
            line-height: 30px;
            cursor: pointer;
          }

          &:nth-child(even) {
            .day {
              background-color: $gray-light;
            }
          }

          &.color-blue {
            color: $primary-color;
          }

          &.bg-blue, &.bg-red, &.bg-yellow {
            color: #FFF;
          }

          &.bg-blue {
            .day {
              background-color: $primary-color;
            }
          }

          &.bg-red {
            .day {
              background-color: $red;
            }
          }

          &.bg-yellow {
            .day {
              background-color: $yellow;
            }
          }
        }
      }
    }
  }
}
