.il-card {
  position: relative;
  margin-bottom: 1rem;

  .overview {
    border-radius: 6px 0 0 6px;
    background-color: $primary-color;
    margin-right: 63px;
    padding: 1rem;
    z-index: 10;
    position: relative;
    height: 100%;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;

    h3:first-child {
      margin-top: 1.75rem;
    }

    il-switch + h3 {
      margin-top: 0.2rem;
    }

    label {
      display: inline-block;
      color: #FFF;
      font-weight: bold;
      margin-right: 7px;
      margin-bottom: 0;

      &:not(:first-child) {
        margin-left: 15px;
      }
    }
  }

  &.not-expand {
    .overview {
      margin-right: 0;
      border-radius: 6px;
    }
  }

  .settings {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 6px;
    width: 63px;
    height: 100%;
    background: $yellow;

    .opener {
      position: absolute;
      right: 0;
      top: 0;
      width: 63px;
      height: 100%;
      border-left: 1px solid #fff;
      text-align: center;
      padding: 1rem;

      a.open {
        width: 10px;
        height: 35px;
        background: url("../img/triple-square.png") no-repeat center;
      }

      a.graph {
        width: 30px;
        height: 30px;
        background: url("../img/measure-circle.png") no-repeat center;
      }

      a {
        display: inline-block;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);

        &:first-child {
          top: 1.25rem;
        }

        &:last-child {
          bottom: 1.25rem;
        }
      }

      &.divider::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 1px;
        width: 90%;
        -webkit-transform: translateY(-50%) translateX(-50%);
        transform: translateY(-50%) translateX(-50%);
        background-color: #fff;
      }
    }

    .content {
      display: none;
      padding: .5rem 5rem .5rem .5rem;
      color: $gray;

      .data {
        color: #fff;
        font-weight: bold;
        font-size: 22px;
      }
    }
  }

  &.on &.active, &.true {

  }

  &.off, &.false, &.disabled, &.gray {

    .overview {
      background-color: $gray
    }

    @each $it in $icons_white {
      &.#{nth($it, 1)} .overview {
        background: $gray url("../img/#{nth($it, 2)}") no-repeat top 22px right 1rem;
      }
    }
  }

  h3 {
    color: #FFF;
    font-size: 24px;
  }

  .info {
    font-size: 18px;
    font-weight: bold;
    color: $yellow;
    margin: 1rem 0;
  }

  .big {
    font-size: 60px;
    font-weight: 300;
  }

  ul.button-group {
    background-color: #fff;
    padding: .25rem;
    border-width: 0;
    margin-bottom: 0;

    li {
      flex: 1 1 auto
    }

    &.segmented {
      label {
        color: $gray;
        padding: .25rem .5rem;
        border-width: 0;
        display: block;
        font-size: 18px;
      }

      input[type="radio"]:checked + label, label:hover, label:focus {
        background-color: $yellow;
        color: #fff;
      }
    }
  }

  .row {
    margin-bottom: .25rem !important;

    &:last-child {
      margin-bottom: 0
    }
  }

  &.opened {
    position: relative;

    .settings {
      width: 100%;
      z-index: 11;
      left: 0;

      .content {
        display: block;
      }
    }
  }

  @each $it in $icons_white {
    &.#{nth($it, 1)} .overview {
      background: $primary-color url("../img/#{nth($it, 2)}") no-repeat top 22px right 1rem;
    }
  }
}

@include breakpoint(medium) {
  .il-card {
    height: 100%;
    margin-bottom: 0rem;

    &.opened {
      position: static !important;

      .settings {
        right: 1rem;
        left: initial;
        width: calc(50% + 63px);
      }
    }

    .settings {
      border-radius: 0 6px 6px 0;
    }
  }
}
