il-status-bar {
  background-color: $gray;
  color: #FFF;

  #devices-status-bar:not(.opened) {
    .item {
      &:not(.showed) {
        display: none;
      }

      &.showed {
        &::before {
          display: block;
        }
      }
    }
  }

  #devices-status-bar.opened {
    .item:first-child {
      &::before {
        display: block;
        -webkit-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg);
      }
    }

    .item:not(:last-child) {
      margin-bottom: 0;
    }
  }

  .item {
    padding-left: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 1rem;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: transform .3s;
      transition: transform .3s;
      background: url("../img/arrow-right.png") no-repeat left center;
      width: 9px;
      height: 14px;
      display: none;
    }

    .panel-name {
      font-weight: bold;
      margin-right: 2rem;
    }

  }
}

il-devices-navigation {
  a {
    margin: 2rem .5rem 0 .5rem;

    &:first-of-type {
      margin-left: 0;
    }

    &:last-of-type {
      margin-right: 0;
    }
  }

  zf-accordion, .accordion {
    border-width: 0;
    margin-top: 1rem;

    .accordion-item {
      .accordion-title {
        background-color: $primary-color;
        color: #fff;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          right: 1rem;
          top: 50%;
          -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
          width: 2em;
          height: 0.25em;
          background: #FFF;
          box-shadow: 0 0.5em 0 0 #FFF,
          0 1em 0 0 #FFF;
        }
      }

      .accordion-content {
        padding: 0;

        ul {
          margin: 0;
          list-style: none;
          font-size: 0;

          li {
            display: inline-block;
            width: 25%;

            a {
              margin: 0;
              font-size: 1rem;
              display: block;
              margin: .25rem .5rem;
            }
          }
        }
      }
    }
  }
}

.camera-wrapper {
  overflow: hidden !important;
  -webkit-transition: all .4s;
  transition: all .4s;

  .img-wrapper {
    position: relative;

    time {
      position: absolute;
      color: #fff;
      font-weight: bold;
      bottom: 1rem;
      right: 1rem;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, .25);
    }
  }
}

.live-camera {
  position: relative;
  margin-bottom: 1rem;

  img {
    margin: 0;
  }

  .move-top, .move-right, .move-bottom, .move-left {
    position: absolute;
    content: url("../img/arrow-right-big.png");
    display: block;
  }

  .move-top, .move-bottom {
    left: 50%;
  }

  .move-right, .move-left {
    top: 50%;
  }

  .move-top {
    top: 1rem;
    -webkit-transform: translateX(-50%) rotate(-90deg);
    transform: translateX(-50%) rotate(-90deg);
  }

  .move-right {
    right: 1rem;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .move-bottom {
    bottom: 1rem;
    -webkit-transform: translateX(-50%) rotate(90deg);
    transform: translateX(-50%) rotate(90deg);
  }

  .move-left {
    left: 1rem;
    -webkit-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
  }
}
