table.metering {
  tbody {
    tr {
      td {
        .icon {
          display: inline-block;
          vertical-align: middle;
          min-width: 33px;
          text-align: center;
        }
      }
    }
  }
}
