#entry {
	background: #FFF url("../img/cloud-background.jpg") repeat-x center top;

	.form-container {
		margin-top: 5rem;
		padding: 1.25rem;
		border: 10px solid $primary-light;
		border-radius: 1.25rem;
		background-color: #FFF;
		position: relative;
		width: 299px; // because of the bottom (::after)

		&::after {
			content: url("../img/cloud-bottom.png");
			position: absolute;
			bottom: .5rem;
			left: 130px;
			transform: translateX(-50%) translateY(100%);

		}

		.logo {
			margin-bottom: 1.5rem;
		}

		a {
			color: $body-font-color;

			&.hover-underline::after {
				background-color: $body-font-color;
			}
		}

		form {

			input, button {
				margin-left: 0;
				margin-right: 0;
			}

			button {
				margin-bottom: 0;
			}

			label {
				color: $body-font-color;
			}
		}
	}
}
