@font-face {
	font-family: "Gotham";
	font-weight: normal;
	src: url('../font/GothamBook.eot');
	src: url('../font/GothamBook.eot?#iefix') format('embedded-opentype'),
		 url('../font/GothamBook.ttf') format('truetype'),
		 url('../font/GothamBook.woff') format('woff'),
		 url('../font/GothamBook.otf') format('opentype');
}

@font-face {
	font-family: "Gotham";
	font-weight: bold;
	src: url('../font/GothamBold.eot');
	src: url('../font/GothamBold.eot?#iefix') format('embedded-opentype'),
		 url('../font/GothamBold.ttf') format('truetype'),
		 url('../font/GothamBold.woff') format('woff'),
		 url('../font/GothamBold.otf') format('opentype');
}

@font-face {
	font-family: "Gotham";
	font-weight: 300;
	src: url('../font/GothamLight.eot');
	src: url('../font/GothamLight.eot?#iefix') format('embedded-opentype'),
		 url('../font/GothamLight.ttf') format('truetype'),
		 url('../font/GothamLight.woff') format('woff'),
		 url('../font/GothamLight.otf') format('opentype');
}

@font-face {
	font-family: "Gotham";
	font-weight: 100;
	src: url('../font/GothamThin.otf') format('opentype'),
		 url('../font/GothamThin.woff') format('woff');
}
