il-footer {
  font-size: 18px;

	#contact-form {
		max-width: 48.5rem;
		margin: 2rem auto;
	}

	.contact-info {
		color: $primary-color;
		font-size: 25px;
		font-weight: bold;
		margin-left: 1.5rem;
		margin-right: 1.5rem;
		display: inline-block;

    .img {
      display: block;
      height: 71px;
      margin: 0 auto 1.25rem auto;
    }

	}

	.site-links {
		padding-top: 6rem;

		a {
			display: inline-block;
			margin-left: .5rem;
			margin-right: .5rem;

			&:last-child {
				margin-right: 0;
			}

			&:first-child {
				margin-left: 0;
			}
		}
	}
}
