//* il counter *///
il-counter {

	input[type="number"] {
		display: none;
	}

	.plus, .minus {
		background-color: #FFF;
		color: $gray;
		cursor: pointer;
		display: inline-block;
		font-size: 2rem;
		width: 2.5rem;
		height: 1.75rem;
		line-height: 1.75rem;
		text-align: center;
	}

	.plus {
		content: "+"
	}

	.minus {
		content: "-";
    margin-right: .5rem;
	}

  &.wide {
    .plus, .minus {
      width: 100px;
    }
  }
}

//* il color picker *//
il-colorpicker {

	input[type="color"] {
		display: none;
	}

	.picker-wrapper, .slider-wrapper {
		position: relative;

		.slider-indicator, .picker-indicator {
			width: 1.125rem;
			height: 1.125rem;
			border: 3px solid #fff;
			border-radius: 50%;
			position: absolute;

			&.slider-indicator {
				top: 50%;
				-webkit-transform: translateY(-50%);
				transform: translateY(-50%);
			}
		}
	}

	.picker-wrapper {
		position: absolute;
		max-width: 100%;
		margin: 0 1rem;
		right: 0;
		top: -.5rem;
		-webkit-transform: translateY(-100%);
		transform: translateY(-100%);
		border: 3px solid #fff;
		box-shadow: 0 0 10px 0 rgba(0, 0, 0, .45);
		-webkit-transition: opacity .5s;
		transition: opacity .5s;
		opacity: 0;
		visibility: hidden;

		&.closed {
			display: none;
			opacity: 0;
		}

		&.opened {
			visibility: visible;
			display: block;
			opacity: 1;
		}
	}

	.color-slider {
		height: .75rem;
		border: 2px solid #fff;
		position: relative;
		border-radius: 1rem;

		svg {
			position: absolute;
			z-index: -1;
		}
	}

	a.color-indicator {
		height: 1rem;
		width: 1rem;
		border: 2px solid #fff;
		border-radius: 50%;
		display: block;
		background-color: transparent;
	}
}

//* il select *//
il-select {
  position: relative;
  color: #FFF;
  display: inline-block;
  cursor: pointer;
  font-size: .75rem;

  select {
    display: none;
  }

  .selected-item {
    position: relative;
    background-color: $primary-color;
    text-transform: uppercase;
    padding: .5rem 1.75rem .5rem 1rem;
    text-align: right;

    &::after {
      content: url("../img/arrow-right.png");
      position: absolute;
      right: .5rem;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
      -webkit-transition: all .3s;
      transition: all .3s;
    }
  }

  .items {
    position: absolute;
    background-color: $primary-color;
    min-width: 9rem;
    width: 100%;
    z-index: 5;
    right: 0;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .6);
    display: none;
    padding-bottom: .5rem;

    .item {
      padding: .25rem;
      text-transform: uppercase;
      -webkit-transition: padding-left .3s;
      transition: padding-left .3s;

      &:hover {
        padding-left: 1rem;
      }
    }
  }

  &.on, &.opened {
    .selected-item {
      &::after {
        -webkit-transform: translateY(-50%) rotate(90deg);
        transform: translateY(-50%) rotate(90deg);
      }
    }

    .items {
      display: block;
    }
  }
}

// FANCY FORM

.info-field {
  padding-bottom: 1.25rem;

  ul {
    li {
      line-height: 1.15;
      margin-top: .25rem;
      margin-bottom: 1.25rem;
    }
  }
}

input.fancy, input[type="checkbox"].fancy::after {
  background-color: lighten($primary-light, 7) !important;
  color: $primary-dark;
  border-radius: 5px;
  border: 1px solid $primary-dark;
  transition: all .3s;

  &:hover, &:focus {
    border: 1px solid $primary-dark !important;
  }
}

input.ng-invalid {
  border-color: $alert-color !important;
}

input.fancy:not([type="checkbox"]) {
  display: block;

  &::-webkit-input-placeholder {
    color: $primary-dark;
  }

  &::-moz-placeholder {
    color: $primary-dark;
  }

  &:-moz-placeholder {
    color: $primary-dark;
  }

  &:-ms-input-placeholder {
    color: $primary-dark;
  }

  &::placeholder {
    color: $primary-dark;
  }
}

input[type="checkbox"].fancy {
  position: relative;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    display: inline-block;
    border-radius: $global-radius;
    text-align: center;
  }

  &:checked {
    &::after {
      content: "✔";
    }
  }
}

// CLEAR FORM

input.clear, textarea.clear {
  background-color: transparent;
  border-width: 0px;
  border-bottom: 1px solid #FFF;
  color: #FFF;
  background: url("../img/10px-white-line.png") no-repeat left bottom, url("../img/10px-white-line.png") no-repeat right bottom;
  font-size: 25px;
  padding: .5rem 1.5rem 1.5rem 1.5rem;
  margin-bottom: 3rem;
  height: auto;

  &:hover, &:focus {
    background-color: transparent;
    border-width: 0px;
    border-bottom: 1px solid #FFF;
    color: #FFF;
    background: url("../img/10px-white-line.png") no-repeat left bottom, url("../img/10px-white-line.png") no-repeat right bottom;
  }

  &::-webkit-input-placeholder {
    color: #FFF;
  }

  &::-moz-placeholder {
    color: #FFF;
  }

  &:-moz-placeholder {
    color: #FFF;
  }

  &:-ms-input-placeholder {
    color: #FFF;
  }

  &::placeholder {
    color: #FFF;
  }
}

button.clear {
  background-color: transparent;
  border: 1px solid #FFF;
  padding: .75rem 1.5rem;
  color: #FFF;
  transition: all .4s;

  &:hover, &:focus {
    color: $blue-dark;
    background-color: #FFF;
  }
}

textarea.clear {
  min-height: 6rem;
  max-height: 6rem;
  overflow: hidden;
  transition: all .4s;
  height: 100%;

  &:hover, &:focus {
    min-height: 10rem;
    max-height: 10rem;
    overflow: auto;
  }
}

// BUTTON

button.switching {
  display: inline-block;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #fff;
  height: 22px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: bold;
  color: $gray;
  padding-left: 10px;
  padding-right: 10px;
  -webkit-transition: all .3s;
  transition: all .3s;

  &.active {
    background-color: $yellow;
    color: #fff;
  }
}
