header {
	#logo {
		padding: 1.25rem 0;
	}

	.top-part {
		a {
			color: $body-font-color;

			&.hover-underline {
				&::after {
					background-color: $body-font-color !important;
				}
			}
		}
	}

	.bottom-part {
		background-color: $primary-color;
		color: #FFF;

		a {
			padding: .5rem 1rem;
			color: inherit;
			display: inline-block;
			position: relative;
			z-index: 1;
      font-size: 13px;

			&::after {
				content: "";
				background-color: $active-color;
				position: absolute;
				z-index: -1;
				top: 50%;
				left: 50%;
				-webkit-transform: translateX(-50%) translateY(-50%);
				transform: translateX(-50%) translateY(-50%);
				width: 100%;
				max-width: 0%;
				height: 100%;
				max-height: 0%;
				display: block;
				-webkit-transition: all .3s;
				transition: all .3s;
			}

			&.active, &:hover, &:focus {
				&::after {
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}
}

#left-menu {
  box-shadow: none;
  z-index: 999;

  ul {
    margin-bottom: 1rem;
  }

  &.is-active {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, .5);
  }
}

.off-canvas.left.is-active ~ .grid-frame {
  -webkit-transform: none !important;
  transform: none !important;
}
