il-hour-chart {
  .wrapper {
    padding-bottom: 1.25rem;

    table {
      text-align: center;
      font-size: .675rem;
      width: 100%;
      table-layout: fixed;
      margin-bottom: 1rem;

      thead {
        tr {
          th {
            font-weight: normal;
            color: $gray;
            padding-bottom: .5rem;
          }
        }
      }

      tbody {
        tr {
          td {
            position: relative;
            color: $gray-dark;
            padding: 1px;
            cursor: default;

            &:first-child {
              color: $gray;
            }

            .data, .sum {
              position: relative;
              display: block;
              padding: .25rem .125rem;
              transition: all .3s;
            }

            .bubble {
              display: none;
              position: absolute;
              font-size: 1rem;
              z-index: 5;
              background: #fff;
              box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, .25);
              padding: .25rem;
              border: 1px solid rgba(0, 0, 0, .25);
              top: 0;
              margin-top: -15px;
              left: 0;
              margin-left: -15px;
            }

            &:hover {
              .bubble {
                display: block;
              }
            }

            .sum {
              background-color: $gray-light;
            }
          }
        }
      }
    }

    .gradient-bar {
      height: 15px;
      position: relative;

      .bar {
        display: inline-block;
        width: 11.111111%;
        height: 5px;
      }

      .min, .max {
        position: absolute;
        top: 15px;
        display: block;
      }

      .min {
        left: .25rem;
      }

      .max {
        right: .25rem;
      }
    }
  }
}
