$icons_white: ("alarm" "alarm-white.png") ("bed" "bed-white.png") ("blind" "blind-white.png") ("bulb" "bulb-white.png") ("camera" "camera-white.png") ("drops" "drops-white.png") ("fire" "fire-white.png") ("hanger" "hanger-white.png") ("home" "home-white.png") ("intercom" "intercom-white.png") ("kettle" "kettle-white.png") ("lamp" "lamp-white.png") ("lightning" "lightning-white.png") ("media" "media-white.png") ("meter" "meter-white.png") ("beds" "beds-white.png") ("refresh" "refresh-white.png") ("weather" "weather-white.png");

$icons_blue: ("alarm" "alarm-blue.png") ("camera" "camera-blue.png") ("home", "home-blue.png") ("intercom" "intercom-blue.png") ("beds" "beds-blue.png") ("meter" "meter-blue.png") ("refresh" "refresh-blue.png") ("weather" "weather-blue.png");

$icons_white_small: ("bulb" "bulb-small-white.png") ("cocktail" "cocktail-small-white.png") ("media" "media-small-white.png") ("palm" "palm-small-white.png") ("energy" "energy-small-white.png") ("dollar" "dollar-small-white.png");

$icons_blue_small: ("arrow" "arrow-small-blue.png") ("drop" "drop-small-blue.png") ("halfsun" "halfsun-small-blue.png") ("heart" "heart-small-blue.png") ("sun" "sun-small-blue.png");

$icons_gray_small: ("graph" "graph-small-gray.png"), ("dollar", "dollar-small-gray.png");

$icons_pair: ("alarm" "alarm-white.png" "alarm-blue.png") ("camera" "camera-white.png" "camera-blue.png") ("meter" "meter-white.png" "meter-blue.png") ("home" "home-white.png" "home-blue.png") ("intercom" "intercom-white.png" "intercom-blue.png") ("beds" "beds-white.png" "beds-blue.png") ("refresh" "refresh-white.png" "refresh-blue.png") ("weather" "weather-white.png" "weather-blue.png");

.icon-white, .icon-on, .icon-blue, .icon-off, .icon-gray, .icon-disabled, .icon-pair {
	display: inline-block;
	text-align: center;
}

.icon-circle {
	display: inline-block;

	@each $it in $icons_pair {
		&.#{nth($it, 1)}:not(.small) {

			&::before {
				content: "";
				display: block;
				margin-bottom: 1.5rem;
				width: 110px;
				height: 110px;
				border: 1px solid $primary-color;
				background: transparent url("../img/#{nth($it, 3)}") no-repeat center center;
				border-radius: 50%;
				-webkit-transition: background .5s;
				transtion: background .5s;

			}

			&.active, &:hover, &:focus {
				&::before {
					background: $primary-color url("../img/#{nth($it, 2)}") no-repeat center center;
					-webkit-transform: rotateY(360deg);
					transform: rotateY(360deg);
					-webkit-transition: transform .5s, background .5s;
					transition: transform .5s, background .5s;
				}
			}
		}
	}
}

.icon-partial-circle {
	display: inline-block;
	width: 96px;
	height: 122px;
	background-color: transparent;

	@each $it in $icons_white {
		&.#{nth($it, 1)}:not(.small) {
			background: url("../img/partial-circle.png") no-repeat center center, url("../img/#{nth($it, 2)}") no-repeat left center;
		}
	}

	&.small {
		@each $it in $icons_white_small {
			&.#{nth($it, 1)} {
				position: relative;
				background: url("../img/partial-circle.png") no-repeat center center;

				&::before {
					//content: url("../img/#{nth($it, 2)}");
					content: "";
					background: url("../img/#{nth($it, 2)}") no-repeat center;
					position: absolute;
					width: 62px;
					height: 62px;
					top: 50%;
					-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
					border: 1px solid #FFF;
					border-radius: 50%;
				}
			}
		}
	}
}

.icon-white, .icon-on {
	@each $it in $icons_white {
		&.#{nth($it, 1)}:not(.small) {
      &::before {
        content: url("../img/#{nth($it, 2)}");
      }

			&.circle {
				width: rem-calc(122) rem;
				height: rem-calc(122) rem;
				border: 1px solid #FFF;
				border-radius: 50%;
			}
		}
	}

	@each $it in $icons_white_small {
		&.#{nth($it, 1)}.small {
      &::before {
        content: url("../img/#{nth($it, 2)}");
      }
		}
	}
}

.icon-blue, .icon-off {
	@each $it in $icons_blue {
		&.#{nth($it, 1)}:not(.small) {
      &::before {
        content: url("../img/#{nth($it, 2)}");
      }
		}
	}

	@each $it in $icons_blue_small {
		&.#{nth($it, 1)}.small {
      &::before {
        content: url("../img/#{nth($it, 2)}");
      }
		}
	}
}

.icon-gray, .icon-disabled {
	@each $it in $icons_gray_small {
		&.#{nth($it, 1)}.small {
      &::before {
        content: url("../img/#{nth($it, 2)}");
      }
		}
	}
}

.icon-pair {
	@each $it in $icons_pair {
		&.#{nth($it, 1)}:not(.small) {
      &::before {
        content: url("../img/#{nth($it, 3)}");
      }

			&:hover, &:focus {
        &::before {
          content: url("../img/#{nth($it, 2)}");
        }
			}
		}
	}
}
