il-meter {
	position: relative;
	margin: 1rem 4rem 1rem 0;
	display: block;

	.meter {
		background: url("../img/temp_meter.png") no-repeat center center;
		display: block;
		margin-left: 3.5rem;
    height: 472px;
    width: 26px;
	}

	.pointer {
		position: absolute;
		background: url("../img/pointer-orange.png") no-repeat center center;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		left: 0rem;
    height: 24px;
    width: 40px;
	}

	.unit {
		position: absolute;
		left: 6rem;
		font-weight: bold;
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);


		&.u-0 {
			color: #1cb4fd;
			bottom: 0;
			-webkit-transform: translateY(50%);
			transform: translateY(50%);
		}

		&.u-8 {
			color: #ed2e26;
			top: 0;
		}

		&.u-4 {
			color: #f0aa25;
			top: 50%;
		}

		&.u-7 {
			color: #ee4d26;
			top: 12.5%;
		}

		&.u-1 {
			color: #62bbb5;
			top: 87.5%;
		}

		&.u-6 {
			color: #ef6c26;
			top: 25%;
		}

		&.u-2 {
			color: #a9c26f;
			top: 75%;
		}

		&.u-5 {
			color: #ef8b25;
			top: 37.5%;
		}

		&.u-3 {
			color: #f1c926;
			top: 62.5%;
		}
	}
}
