.il-panel {
	border-radius: 6px;
	padding: 26px;
	color: #FFF;
	font-size: 1rem;
	font-weight: 300;
	text-align: left;
	transition: all .4s;
	position: relative;
	margin-bottom: 1rem;

	&::after {
		content: "";
		display: block;
		clear: both;
	}

	.text {
		position: absolute;
		right: 1rem;
		bottom: 2rem;
		text-align: right;
		line-height: 1.5;

		&.no-bottom {
			bottom: 1rem;
		}
	}

	h3 {
		font-size: 2rem;
		font-weight: inherit;
		color: inherit;
		margin: 0;
		line-height: 1;
    text-transform: uppercase;
	}

	img {
		max-width: none;
		display: block;
		margin: 0 auto 1rem auto;
	}

	&:not(.on), &:not(.active), &:not(.true) {
		background-color: $gray;
	}

	&.on, &.active, &.true, &:hover, &:focus {
		background-color: $primary-color;
	}

	.close {
		position: absolute;
		top: .5rem;
		right: .5rem;
		display: none;
		color: inherit;
		z-index: 4;
		font-size: 1.5em;
		font-weight: bold;
    background: url("../img/x.png") no-repeat center center;
    width: 12px;
    height: 13px;
    text-indent: -9999px;
	}

	&.expanded {
		height: calc(200% - 1rem);
		background-color: $primary-color;
		z-index: 3;

		.close {
			display: block;
		}
	}

  img {
    border: 2px solid $gray;
  }
}
