il-scale {
	display: inline-flex;
	width: 100%;
	background-color: #fff;

	span.item {
		flex: 1 1 auto;
		text-align: center;
		padding: .25rem .5rem;
		font-size: 24px;
    font-weight: 300;

		&.active {
			background-color: $yellow;
		}
	}
}
