il-switch {
	display: inline-block;
  vertical-align: middle;

	& > input[type="checkbox"] {
		display: none;

		&:checked + label {
			&::before {
				background-color: $yellow;
				color: #fff;
			}
		}

		&:not(:checked) + label {
			&::after {
				background-color: $gray;
				color: #fff;
			}
		}
	}

	& > label {
		width: 80px;
		height: 22px;
		border-radius: 4px;
		background-color: #fff;
		position: relative;
		cursor: pointer;
		border: 1px solid #fff;
		margin: 0 !important;

		&::before, &::after  {
			content: "";
			position: absolute;
			display: inline-block;
			width: 38px;
			height: 20px;
			line-height: 20px;
			text-align: center;
			text-transform: uppercase;
			font-size: 11px;
			font-weight: bold;
			color: $gray;
			top: 0;
			-webkit-transition: background-color .3s, color .3s;
			transition: background-color .3s, color .3s;
		}

		&::before {
			content: "on";
			left: 0;
      border-radius: 4px 0 0 4px;
		}

		&::after {
			content: "off";
			right: 0;
      border-radius: 0 4px 4px 0;
		}
	}

	&.disabled, &.gray, &[disabled="true"], &[disabled="disabled"] {
		& > label {
			background-color: $gray;

			&::after, &::before {
				color: #fff;
			}
		}

		& > input[type="checkbox"] {
			&:checked + label {
				&::before {
					background-color: #fff;
					color: $gray;
				}
			}

			&:not(:checked) + label {
				&::after {
					background-color: #fff;
					color: $gray;
				}
			}
		}
	}
}
