---
name: devices/alarm
url: /devices/alarm
controller: DevicesController
requireLogin: true
---
<div class="grid-block vertical">
    <il-status-bar class="grid-block shrink"></il-status-bar>
    <div class="grid-block vertical noscroll">
        <div class="content-wrapper">
            <div class="grid-block noscroll shrink">
                <div class="grid-content noscroll">
                    <div class="grid-container">
                        <il-devices-navigation></il-devices-navigation>
                    </div>
                </div>
            </div>
            <div class="grid-block shrink">
                <div class="grid-content">
                    <div class="grid-container">
                        <div class="header-bar">
                            <h1>Alarm</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <il-footer></il-footer>
    </div>
</div>
