<div class="grid-block vertical">
  <il-status-bar class="grid-block shrink"></il-status-bar>
  <div class="grid-block vertical noscroll">
    <div class="content-wrapper">
      <div class="grid-block noscroll shrink">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <il-devices-navigation></il-devices-navigation>
          </div>
        </div>
      </div>
      <div class="grid-block shrink noscroll">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <div class="header-bar">
              <h1>CAMERAS</h1>
            </div>

            <div class="grid-block wrap">
              <div class="grid-content medium-6 small-12 camera-wrapper" ng-class="{'medium-12': selectedCamera == 0}">
                <div class="full-width il-panel" ng-click="selectCamera(0)" ng-class="{expanded: selectedCamera == 0}">
                  <div class="img-wrapper" ng-hide="selectedCamera == 0">
                    <img src="./assets/img/camera_living_room.jpg" class="full-width">
                    <time datetime="">15:35</time>
                  </div>
                  <div class="live-camera" ng-show="selectedCamera == 0">
                    <img src="./assets/img/camera_living_room_live.jpg" class="full-width">
                    <span class="move-top"></span>
                    <span class="move-right"></span>
                    <span class="move-bottom"></span>
                    <span class="move-left"></span>
                  </div>
                  Camera - living room
                  <span href="#" ng-click="selectedCamera = -1; $event.stopPropagation();" class="close">x</span>
                </div>
              </div>
              <div class="grid-content medium-6 small-12 camera-wrapper" ng-class="{'medium-12': selectedCamera == 1}">
                <div class="full-width il-panel" ng-click="selectedCamera = 1" ng-class="{expanded: selectedCamera == 1}">
                  <div class="img-wrapper">
                    <img src="./assets/img/camera_garden.jpg" class="full-width">
                    <time datetime="">15:35</time>
                  </div>
                  Camera - garden
                  <span href="#" ng-click="selectedCamera = -1; $event.stopPropagation();" class="close">x</span>
                </div>
              </div>
              <div class="grid-content medium-6 small-12 camera-wrapper" ng-class="{'medium-12': selectedCamera == 2}">
                <div class="full-width il-panel" ng-click="selectedCamera = 2" ng-class="{expanded: selectedCamera == 2}">
                  <div class="img-wrapper">
                    <img src="./assets/img/camera_living_room.jpg" class="full-width">
                    <time datetime="">15:35</time>
                  </div>
                  Camera - living room
                  <span href="#" ng-click="selectedCamera = -1; $event.stopPropagation();" class="close">x</span>
                </div>
              </div>
              <div class="grid-content medium-6 small-12 camera-wrapper" ng-class="{'medium-12': selectedCamera == 3}">
                <div class="full-width il-panel" ng-click="selectedCamera = 3" ng-class="{expanded: selectedCamera == 3}">
                  <div class="img-wrapper">
                    <img src="./assets/img/camera_garden.jpg" class="full-width">
                    <time datetime="">15:35</time>
                  </div>
                  Camera - garden
                  <span href="#" ng-click="selectedCamera = -1; $event.stopPropagation();" class="close">x</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <il-footer></il-footer>
  </div>
</div>
