---
name: devices/dashboard
url: /devices/dashboard
controller: DashboardController
requireLogin: true
---
<div class="grid-block vertical">
  <il-status-bar class="grid-block shrink"></il-status-bar>
  <div class="grid-block vertical noscroll">
    <div class="content-wrapper">
      <div class="grid-block noscroll shrink">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <il-devices-navigation></il-devices-navigation>
          </div>
        </div>
      </div>
      <div class="grid-block shrink">
        <div class="grid-content">
          <div class="grid-container">
            <div class="header-bar">
              <div class="grid-block">
                <div class="grid-content">
                  <h1>Dashboard <span class="white indicator on"></span></h1>
                </div>
                <div class="grid-content text-right">
                  <h2>Favourites: <span class="white indicator off" ui-sref="devices/dashboard/favourites"></span></h2>
                </div>
              </div>
            </div>
            <table class="fancy full-width">
              <thead>
              <tr>
                <td ng-click="dashboardOrder='dev_name'">Name</td>
                <td ng-click="dashboardOrder='room'">Room</td>
                <td ng-click="dashboardOrder='state'">Status</td>
                <td ng-click="dashboardOrder='favourite'">Favourites</td>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in deviceList | filter: greaterThan('state', 0) | orderBy: dashboardOrder">
                <td class="shrink">{{ item.dev_name }}</td>
                <td>{{ item.room | translate }}</td>
                <td><span class="indicator circle" ng-class="{on: item.state > 0, off: item.state == 0}"></span><span ng-show="item.state > 0">ON</span><span ng-show="item.state == 0">OFF</span></td>
                <td class="shrink"><span class="indicator {{ item.favourite }}" ng-click="item.favourite = !item.favourite"></span></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <il-footer></il-footer>
  </div>
</div>
