---
name: devices/energy
url: /devices/energy
controller: DevicesController
requireLogin: true
---

<div class="grid-block vertical">
  <il-status-bar class="grid-block shrink"></il-status-bar>
  <div class="grid-block vertical noscroll">
    <div class="content-wrapper">
      <div class="grid-block noscroll shrink">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <il-devices-navigation></il-devices-navigation>
          </div>
        </div>
      </div>
      <div class="grid-block shrink noscroll">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <div class="header-bar">
              <h1>ENERGY METERING</h1>
            </div>

            <div class="vertical grid-block">
              <div class="grid-content">
                <div class="grid-block">
                  <div class="grid-content medium-6 small-12">
                    <div class="full-width il-panel">
                      <span class="icon-partial-circle drops"></span>
										<span class="text no-bottom">
											<h3>WATER</h3>
											<strong>1525 m<sup>3</sup></strong><br>
											9500 Kč
										</span>
                    </div>
                  </div>
                  <div class="grid-content medium-6 small-12">
                    <div class="full-width il-panel" ui-sref="devices/energy/electricity">
                      <span class="icon-partial-circle lightning"></span>
										<span class="text no-bottom">
											<h3>ELECTRICITY</h3>
											<strong>1525 kWh</strong><br>
											9500 Kč
										</span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-content">
                <div class="grid-block">
                  <div class="grid-content medium-6 small-12">
                    <div class="full-width il-panel">
                      <span class="icon-partial-circle fire"></span>
										<span class="text no-bottom">
											<h3>GAS</h3>
											<strong>1525 m<sup>3</sup></strong><br>
											9500 Kč
										</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <il-footer></il-footer>
  </div>
</div>
