---
name: devices/intercom
url: /devices/intercom
controller: DevicesController
requireLogin: true
---
<div class="grid-block vertical">
  <il-status-bar class="grid-block shrink"></il-status-bar>
  <div class="grid-block vertical noscroll">
    <div class="content-wrapper">
      <div class="grid-block noscroll shrink">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <il-devices-navigation></il-devices-navigation>
          </div>
        </div>
      </div>
      <div class="grid-block shrink">
        <div class="grid-content">
          <div class="grid-container">
            <div class="header-bar">
              <h1>INTERCOM</h1>
            </div>
            <table class="fancy full-width">
              <thead>
              <tr>
                <td ng-click="intercomOrder='name'">Name</td>
                <td ng-click="intercomOrder='device'">Device</td>
                <td ng-click="intercomOrder='phone'">Telephone</td>
                <td class="shrink">Modify</td>
              </tr>
              </thead>
              <tbody>
              <tr ng-repeat="item in intercomDevices | orderBy: intercomOrder">
                <td>
                  <input type="text" value="{{ item.name }}" ng-disabled="intercomEdit != $index" ng-model="item.name">
                </td>
                <td>
                  <span><input type="text" value="{{ item.device }}" ng-disabled="intercomEdit != $index" ng-model="item.device"></span>
                </td>
                <td>
                  <span><input type="tel" value="{{ item.phone }}" ng-disabled="intercomEdit != $index" ng-model="item.phone"></span>
                </td>
                <td class="shrink">
                  <span class="indicator off" ng-click="intercomEdit==$index ? intercomEdit = -1 : intercomEdit = $index" ng-class="{on: intercomEdit == $index, off: intercomEdit != $index}"></span>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <il-footer></il-footer>
  </div>
</div>
