<div class="text-center show-for-medium">
	<a href="#" ui-sref="devices/dashboard" class="icon-circle home" ng-class="{active: testUrl('devices/dashboard')}">Home</a>
	<a href="#" ui-sref="devices/rooms({roomName: null})" class="icon-circle beds" ng-class="{active: testUrl('devices/rooms')}">Rooms</a>
	<a href="#" ui-sref="devices/scene" class="icon-circle refresh" ng-class="{active: testUrl('devices/scene')}">Scene</a>
	<a href="#" ui-sref="devices/camera" class="icon-circle camera" ng-class="{active: testUrl('devices/camera')}">Camera</a>
	<a href="#" ui-sref="devices/alarm" class="icon-circle alarm" ng-class="{active: testUrl('devices/alarm')}">Alarm</a>
	<a href="#" ui-sref="devices/intercom" class="icon-circle intercom" ng-class="{active: testUrl('devices/intercom')}">Intercom</a>
	<a href="#" ui-sref="devices/weather" class="icon-circle weather" ng-class="{active: testUrl('devices/weather')}">Weather</a>
	<a href="#" ui-sref="devices/energy" class="icon-circle meter" ng-class="{active: testUrl('devices/energy')}">Energy</a>
</div>
<zf-accordion class="show-for-small-only" auto-open="false">
  <zf-accordion-item title="Navigation" >
    <ul class="text-center">
      <li><a class="hover-underline" href="#" ui-sref="devices/home">Home</a></li>
      <li><a class="hover-underline" href="#" ui-sref="devices/rooms">Rooms</a></li>
      <li><a class="hover-underline" href="#" ui-sref="devices/scene">Scene</a></li>
      <li><a class="hover-underline" href="#" ui-sref="devices/camera" >Camera</a></li>
      <li><a class="hover-underline" href="#" ui-sref="devices/alarm">Alarm</a></li>
      <li><a class="hover-underline" href="#" ui-sref="devices/intercom">Intercom</a></li>
      <li><a class="hover-underline" href="#" ui-sref="devices/weather">Weather</a></li>
      <li><a class="hover-underline" href="#" ui-sref="devices/energy">Energy</a></li>
    </ul>
  </zf-accordion-item>
</zf-accordion>
