---
name: devices/rooms
url: /devices/rooms/{roomName}
controller: RoomsController
requireLogin: true
---

<div class="grid-block vertical">
  <il-status-bar class="grid-block shrink"></il-status-bar>
  <div class="grid-block vertical noscroll">
    <div class="content-wrapper">
      <div class="grid-block noscroll shrink">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <il-devices-navigation></il-devices-navigation>
          </div>
        </div>
      </div>
      <div class="grid-block shrink noscroll">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <div class="header-bar">
              <h1 ng-if="!detail">ROOMS</h1>
              <div class="grid-block" ng-if="detail">
                <div class="grid-content">
                  <h1>{{room | translate}}</h1>
                </div>
                <div class="grid-content text-right">
                  <h2>Inventory
                    <il-switch checked="true" name="inventory"></il-switch>
                  </h2>
                </div>
              </div>
            </div>
            <div class="grid-block" ng-if="!detail">
              <div class="grid-content medium-6 small-12" ng-repeat="room in rooms">
                <div class="full-width il-panel" ui-sref="devices/rooms({roomName: room})">
                  <span class="icon-partial-circle media"></span>
                  <span class="text"><h3>{{room | translate}}</h3></span>
                </div>
              </div>
            </div>
            <div class="rooms-detail" ng-if="detail">
              <div class="grid-block">
                <div class="grid-content medium-6 small-12 row" ng-repeat="device in deviceList | orderBy:'order'" ng-include="'./templates/devices/cards/'+device.type+'.html'"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <il-footer></il-footer>
  </div>
</div>
