---
name: devices/scene
url: /devices/scene
controller: DevicesController
requireLogin: true
---

<div class="grid-block vertical">
  <il-status-bar class="grid-block shrink"></il-status-bar>
  <div class="grid-block vertical noscroll">
    <div class="content-wrapper">
      <div class="grid-block noscroll shrink">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <il-devices-navigation></il-devices-navigation>
          </div>
        </div>
      </div>
      <div class="grid-block shrink noscroll">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <div class="header-bar">
              <h1>SCENE</h1>
            </div>

            <div class="vertical grid-block">
              <div class="grid-content">
                <div class="grid-block">
                  <div class="grid-content medium-6 small-12">
                    <div class="full-width il-panel">
                      <span class="icon-partial-circle small palm"></span>
                      <span class="text"><h3>SUMMER</h3></span>
                    </div>
                  </div>
                  <div class="grid-content medium-6 small-12">
                    <div class="full-width il-panel">
                      <span class="icon-partial-circle small cocktail"></span>
                      <span class="text"><h3>PARTY</h3></span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="grid-content">
                <div class="grid-block">
                  <div class="grid-content medium-6 small-12">
                    <div class="full-width il-panel">
                      <span class="icon-partial-circle small media"></span>
                      <span class="text"><h3>FILM</h3></span>
                    </div>
                  </div>
                  <div class="grid-content medium-6 small-12">
                    <div class="full-width il-panel">
                      <span class="icon-partial-circle small bulb"></span>
                      <span class="text"><h3>LIGHTS</h3></span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <il-footer></il-footer>
  </div>
</div>
