<div class="grid-content noscroll">
  <div class="grid-container status-bar" data-toggler=".expanded" id="devices-status-bar">
    <div class="grid-block item" ng-repeat="item in statusBarDevices" ng-class="{'showed': statusBarActive == $index}">
      <div class="grid-content shrink panel-name">
        {{ "device" | translate }}
      </div>
      <div class="grid-content">
        <div class="grid-block">
          <div class="grid-content">
            <strong>name: </strong> {{ item.name }}
          </div>
          <div class="grid-content">
            <strong>FW version: </strong> {{ item.FW }}
          </div>
          <div class="grid-content">
            <strong>API version: </strong> {{ item.API}}
          </div>
          <div class="grid-content">
            <strong>MAC address: </strong> {{ item.MAC}}
          </div>
        </div>
      </div>
      <div class="grid-content shrink">
        <span class="white indicator" ng-class="{'true': statusBarActive == $index}" ng-click="changeStatusIndex($index)"></span>
      </div>
    </div>
  </div>
</div>
