---
name: devices/weather
url: /devices/weather
controller: DevicesController
requireLogin: true
---
<div class="grid-block vertical">
  <il-status-bar class="grid-block shrink"></il-status-bar>
  <div class="grid-block vertical noscroll">
    <div class="content-wrapper">
      <div class="grid-block noscroll shrink">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <il-devices-navigation></il-devices-navigation>
          </div>
        </div>
      </div>
      <div class="grid-block shrink">
        <div class="grid-content noscroll">
          <div class="grid-container">
            <div class="header-bar">
              <h1>Weather</h1>
            </div>
            <div class="grid-block row">
              <div class="grid-content shrink">
                <il-meter value="23" min="-30" max="50"></il-meter>
              </div>
              <div class="weather-info grid-content text-right">
                <div class="grid-block vertical full-height">
                  <div class="grid-content">
                    Prague, CZ
									<span class="big">
										23.5°
									</span>
                  </div>
                  <div class="grid-content shrink info">
                    56% <span class="icon-wrapper"><span class="icon-blue small drop"></span></span>
                  </div>
                  <div class="grid-content shrink info">
                    25 m/s <span class="icon-wrapper"><span class="icon-blue small arrow"></span></span>
                  </div>
                  <div class="grid-content shrink info">
                    1113.8 hPa <span class="icon-wrapper"><span class="icon-blue small heart"></span></span>
                  </div>
                  <div class="grid-content shrink info">
                    6:30 <span class="icon-wrapper"><span class="icon-blue small sun"></span></span>
                  </div>
                  <div class="grid-content shrink info">
                    21:03 <span class="icon-wrapper"><span class="icon-blue small halfsun"></span></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <il-footer></il-footer>
  </div>
</div>
