<h2>Contact us</h2>
<form id="contact-form" name="contact">
	<div class="grid-block align-center">
		<div class="grid-content small-6">
			<input type="text" class="clear" placeholder="Your name here" name="name" id="contact-name">
		</div>
		<div class="grid-content small-6">
			<input type="email" class="clear" placeholder="Your mail here" name="email" id="contact-email">
		</div>
	</div>
	<textarea placeholder="Your message here" class="clear" name="message" id="contact-message"></textarea><br>
	<button type="button" class="clear">Send message</button>
</form>
