<div class="blue-block">
    <div class="grid-content">
        <div class="grid-container">
            <div class="text-center" ng-include="'/templates/site/contact.html'">
            </div>
        </div>
    </div>
</div>
<div class="transparent-block">
    <div class="grid-content noscroll">
        <div class="grid-container text-center">
            <div class="grid-block vertical">
                <div class="grid-content">
						<span class="contact-info">
              <span class="img">
              <img src="./assets/img/phone.png" alt="phone icon">
              </span>
              +420 800 100 671
            </span>
                    <span class="contact-info">
              <span class="img">
              <img src="./assets/img/post.png" alt="post / letter icon">
              </span>
              support@elkoep.com
            </span>
                </div>
                <div class="grid-content site-links">
                    <a href="https://www.facebook.com/elkoepworldwide/"><img src="./assets/img/facebook.png" rel="facebook logo"></a>
                    <a href="https://plus.google.com/106143727278093390115/posts"><img src="./assets/img/googleplus.png" rel="google+ logo"></a>
                    <a href="https://www.linkedin.com/company/elko-ep-s-r-o-"><img src="./assets/img/linkedin.png" rel="linkedin logo"></a>
                    <a href="https://www.youtube.com/user/elkoep"><img src="./assets/img/youtube.png" rel="youtube logo"></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gray-block">
    <div class="grid-content noscroll">
        <div class="grid-container text-center">
            © 2016 ELKO EP | All right reserved | Intelligent electro-installations | Smart Home
        </div>
    </div>
</div>

