<ul class="vertical menu-bar" ng-show="loggedIn" >
  <li><a href="#" class="hover-underline" ng-click="logout()">Sign out</a></li>
</ul>
<ul class="vertical menu-bar">
  <li><a href="" class="hover-underline">Cloud</a></li>
  <li><a ui-sref="devices/dashboard" href="#" class="hover-underline">My devices</a></li>
  <li><a href="#" class="hover-underline">Products</a></li>
  <li><a href="#" class="hover-underline">APPs</a></li>
  <li><a href="#" class="hover-underline">Support</a></li>
</ul>
