<div class="il-card blind not-expand" device="device" ng-class="{gray: false}">
  <div class="overview">
    <div class="grid-block">
      <div class="grid-content">
        <button class="switching" ng-class="{active: device.states.up}" ng-click="changeBlinds(device, 'up')">{{"up"|translate}}</button>
        <button class="switching" ng-class="{active: device.states.down}" ng-click="changeBlinds(device, 'down')">{{"down"|translate}}</button>
      </div>
    </div>
    <h3>{{device.dev_name}}</h3>
  </div>
</div>
