<div class="il-card bulb not-expand" ng-class="{gray: device.state == 0}">
  <div class="overview">
    <h3>{{device.dev_name}}</h3>
    <div class="info">{{device.state}}%</div>
    <il-range ng-model="device.state" name="{{device.dev_name}}" change-fn="ranged">
  </div>
</div>
