<div class="il-card bulb not-expand" ng-class="{gray: !device.state}">
  <div class="overview">
    <il-switch ng-model="device.state" change-fn="switched" name="{{device.dev_name}}"></il-switch>
    <h3>{{device.dev_name}}</h3>
  </div>
</div>
