<div class="il-card lamp not-expand" device="device" ng-class="{gray: !device.states.A}">
  <div class="overview">
    <il-switch ng-model="device.states.A" type="rgba" change-fn="switched" name="{{device.dev_name}}"></il-switch>
    <h3>{{device.dev_name}}</h3>
    <div class="info" id="color-info"></div>
    <il-colorpicker change-in="#color-info" item="device" value="device.colors" change-fn="changeColorPicker" name="{{device.dev_name}}">
  </div>
</div>
